body{
    color:#ffffff;
    position:absolute;
    font-family:'Righteous', cursive;
    font-size: 2em;
    background-image: url('bg2.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin:30px 30px 0px 30px;
    animation:fade 300ms ease-in-out;
    resize: both;
}

td,th{
    text-align: center;
    padding:15px;
}

td{
    font-size: 2em;
}

.counter{
    font-size:1em;
    padding-left= 30px;
    justify-content: center;
    margin:0 auto;
}

h3{
    text-align:center;
    justify-content: center;
    margin: 0px -3px;
}

h5{
    text-align: justify;
    padding-right: 20px;
}

.tathvaLogo{
    width:75px;
    padding-right:20px;
    border-right:solid #ffffff;
}

.nitcLogo{
    width:75px;
    padding-left: 10px;
}

.topnav li {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 1em;\
  vertical-align: middle;
    display:inline;
vertical-align: middle;
}

ul{
      list-style: none;
}

a{
    color:#ffffff;
    padding-left:35px;
    padding-top: 20px;
    text-decoration: none;
    transition:300ms ease-in-out;
}

a:hover{
    color:#6167ed;
}

@keyframes fade{
    from{opacity:0;}
    to{opacity:1;}
}

.mid{
    margin:0px 30px;
    width:900px;
}

.last li{
    font-size: .7em;\
    vertical-align: middle;
    display:inline-block;
}

.social{
    width:30px;
    border:0px;
    margin-left: 15px;
    transition:200ms ease-in-out;
    display:block;
    margin-top:-28px;

}

.social:hover{
    width:35px;
}


@media only screen and (max-width: 1000px) {
  body {
    background-image: url('bg4.jpg');
    background-size:cover;
    background-attachment: fixed;

  }

  .topnav li a{
    font-size:1.1em;
}
    .last li{
        font-size:1.4em;
        display:flex;
        flex-direction: column;
    }

    .social{
        margin:0px;
        width:100px;
        min-width:100px;
        transition:none;
    }

}
